{%extends 'base.html'%}


{%block content%}

<section class="contenendor">
	<h3 align="center" style="padding-top:5%;">Quieres stalkear???, regístrate!!</h3>
	<article class="panel panel-default row">
		<div class="panel col-sm-6 col-sm-offset-3">


			<form class="panel-body" action="{%url 'accounts:registro'%}" method="post">
			  {%csrf_token%}
			  {{form.as_p}}

			<input class="col-sm-12 btn btn-primary" type="submit" value="Crear usuario">
			</form>

		</div>
	</article>
</section>
{%endblock%}


