{%extends 'base.html'%}
{%block content%}

<section class="container">
	<div class="">
		<form class="input-group" method="GET">
		    <div class="form-group">
		        <input type="text" class="form-control" placeholder="Search" name="q">
		    </div>
		    <span class="input-group-btn">
		    	<button type="submit" class="btn btn-default">Submit</button>
		    </span>
		</form>
	</div>
	 

<hr>

	{%for u in users%}
		<h1>{{u.username}}</h1>
		<a href="{%url 'accounts:detalle' u.id%}">Detalle</a>
	{%empty%}
		<h3>Buscale bien prro!</h3>
	{%endfor%}
</section>
{%endblock content%}