{%extends 'base.html'%}
{%block content%}

<section class="container">
	<div class="">
		<form class="input-group" method="GET">
		    <div class="form-group">
		        <input type="text" class="form-control" placeholder="Search" name="q">
		    </div>
		    <span class="input-group-btn">
		    	<button type="submit" class="btn btn-default">Submit</button>
		    </span>
		</form>
	</div>
	 

<hr>
<div class="row">
	{%for u in users%}
		<div class="col-xs-6 col-md-3">
		    <a href="{%url 'accounts:detalle' u.id%}" class="thumbnail">
		    {%if u.profile.img%}
		      <img src="/media/{{u.profile.img.url}}">
		    {%endif%}
		      <h1>{{u.username}}</h1>
		    
		    </a>
	  </div>
	{%empty%}
		<h3>Buscale bien prro!</h3>
	{%endfor%}
</div>
</section>
{%endblock content%}