{%extends 'base.html'%}
{%block content%}
	<style type="text/css">
		#header{
			margin-top:10px;
		}
		#img{
			margin-bottom: 10px;
		}
	</style>
	<div class="container">
		{%for post in posts%}
			<div class="well well-sm" style="width:500px; margin:0 auto;">
			  <div class="row" >
			  	<div class="col-md-2">
			  		<img id="img" class="img-circle" style="width:50px;" src="https://scontent.fmex6-1.fna.fbcdn.net/v/t1.0-9/16195031_1401148219896672_1646832744494442920_n.jpg?oh=fe12ae66d23f3f45f7011da17a66ed75&oe=595857CB">
			  		
			  	</div>
			  	<div class="col-md-7">
			  		<h3 id="header">{{post.autor}}</h3>
			  		
			  	</div>
			  	<div class="col-md-3">
			  		<span id="header">{{post.date.time}}</span>
			  	</div>
			  </div>
			  {%if post.img%}
			  <img class="img-responsive" src="/media/{{post.img}}">
			  {%endif%}
			  <h4>{{post.nombre}}</h4>
			  <p>{{post.texto}}</p>
			</div>
			<br>
		{%endfor%}
	</div>
{%endblock content%}