{%extends 'base.html'%}
{%block content%}
	<style type="text/css">
		#header{
			margin-top:10px;
		}
		#img{
			margin-bottom: 10px;
		}
		#def{
			font-size: 4rem;
    		color: black;
		}
	</style>
	<div class="container">
		{%for post in posts%}
			<div class="well well-sm" style="width:500px; margin:0 auto;">
			  <div class="row" >
			  	<a href="{%url 'accounts:profile'%}">
				  	<div class="col-md-2">
				  		{%if post.autor.profile.img.url%}

				  		<img id="img" class="img-circle" style="width:50px; height:50px;" src="/media/{{post.autor.profile.img.url}}">
				  		{%else%}
				  		<span class="glyphicon glyphicon-user" id="def" aria-hidden="true"></span>

				  		{%endif%}
				  	
				  		
				  		
				  	</div>
			  	</a>
			  	<div class="col-md-7">
			  		<h3 id="header">{{post.autor}}</h3>
			  		
			  	</div>
			  	<div class="col-md-3">
			  		<span id="header">{{post.date.time}}</span>
			  	</div>
			  </div>
			  {%if post.img%}
			  <img class="img-responsive" src="/media/{{post.img}}">
			  {%endif%}
			  <h4>{{post.nombre}}</h4>
			  <p>{{post.texto}}</p>
			</div>
			<br>
		{%endfor%}
	</div>
{%endblock content%}